<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>Moving</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="/Move/css/semantic.min.css"></link>
<link rel="stylesheet" type="text/css" href="/Move/css/common.css"></link>
<script src="/Move/js/jquery.js"></script>
<script src="/Move/js/semantic.min.js"></script>
<script src="/Move/js/mainpage.js"></script>
</head>
<body>
	<div th:replace="fragment/header :: header">
	</div>

	<div class="rightPanel">
		    <div class="ui large header">
		      	即刻搜索真实价格
		    </div>
		    <div class="form">
		    	<div class="formline">
		    		<div class="ui form">
					  <div class="fields">
					    <div class="field">
					      <label>搬家起点</label>
					      <input type="text" placeholder="请输入起点"></input>
					    </div>
					  </div>
					</div>
		    	</div>
		    	
		    	<div class="formline">
		    		<div class="ui form">
					  <div class="fields">
					    <div class="field">
					      <label>搬家终点</label>
					      <input type="text" placeholder="请输入终点"></input>
					    </div>
					  </div>
					</div>
		    	</div>
		    	
		    	<div class="formline">
		    		<button class="ui primary button">
					  立刻搜索
					</button>
		    	</div>
		    </div>
		    
	</div>

	<div class="main">
		
		Main area
	</div>

</body>
</html>