<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>Moving</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="/Move/css/semantic.min.css"></link>
<link rel="stylesheet" type="text/css" href="/Move/css/common.css"></link>
<script src="/Move/js/jquery.js"></script>
<script src="/Move/js/semantic.min.js"></script>
<script src="/Move/js/login.js"></script>
</head>
<body>
	<div th:replace="fragment/header :: simpleHeader">
		
	</div>


	<div class="fullmain">
		<form class="ui large form" action="#" th:action="@{/verify}"  method="post">
	      <div class="ui stacked segment">
	        <div class="field">
	          <div class="ui left icon input">
	            <i class="mail icon"></i>
	            <input id="username" type="text" name="mail" placeholder="邮箱"></input>
	          </div>
	        </div>
	        <div class="field">
	          <div class="ui left icon input">
	            <i class="lock icon"></i>
	            <input id="password" type="password" name="password" placeholder="密码"></input>
	          </div>
	        </div>
	        <button id="submit" class="ui fluid large primary submit button" >登录</button>
	      </div>
	
	      <div class="ui error message"></div>
		  
	    </form>
	    
	    
	    <div class="ui message">
	      	<span>第一次使用?</span><a href="/Move/register">点此注册</a>
	      	<span class="margin-left">忘记密码？</span><a href="/Move/findPass">点击找回</a>
	    </div>
	    
	</div>

</body>
</html>