<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>Moving</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="/Move/css/semantic.min.css"></link>
<link rel="stylesheet" type="text/css" href="/Move/css/common.css"></link>
</head>
<body>
		<div class="step-header progress-wizard" th:fragment="stepHeader">
			
			<ul class="steps">
			   <li class="step bold completed current active" data-index="1">选择家具 <span class="step-progress"></span></li>
			   <li class="step bold "  data-index="2">确认地址 <span class="step-progress"></span></li>
			   <li class="step bold" data-index="3">比价 <span class="step-progress"></span></li>
			   <li class="step bold" data-index="4">确认信息 <span class="step-progress"></span></li>
			   <li class="step bold" data-index="5">预定 <span class="step-progress"></span></li>
			</ul>
			
			
		</div>

</body>
</html>