body {
	padding-top:46px;
}

div.main{
	
}

div.rightPanel{
	position:fixed;
	top:46px;
	right:0px;
	width: 450px;
	bottom:0px;
	background-color: #eee;
    border-left: 1px solid #ddd;
    padding: 40px 20px;
}

div.fields div.field{
	width:100%;
}

div.formline{
	margin-bottom:20px;
}

div.fullmain{
	width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
}

div.full-inventory-main{
	width:100%;
	position:relative;
}

div.step-header{
	border-bottom:1px solid #ddd;
	text-align:center;
	position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #fff;
    margin-top: -5px;
}

div.full-inventory-left{
    position: fixed;
    left: -0;
    right: 0;
    top: 84px;
    bottom: 0px;
}

div.full-inventory-left-inner{
	height: 100%;
}

div.full-inventory-left-inner-left {
	position: absolute;
    width: 214px;
}

div.full-inventory-left-inner-right {
	margin-left: 215px;
    border-left: 1px solid #ddd;
        height: 100%;
        overflow-y:auto;
}

div.full-inventory-right{
	display:none;
	position:fixed;
	right:0px;
	top:85px;
	width:320px;
	bottom:0px;
	border-left: 1px solid #ddd;
}

div.inventory-right-header {
	
	padding:16px ;
}

div.inventory-detail{
	margin-bottom:16px;
	padding:0px 16px;
}

div.address-detail{
	padding-top:16px;
	border-top:1px solid #ddd;
	padding:16px;
}

div.margin-left{
	margin-left: 8px;
}

div.inventory-list{
	clear:both;
}

div.inventory-item {
	float:left;
	width:240px;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding:8px;
}

.progress-wizard .steps .step.active.current, .progress-wizard .steps .step.active:hover, .progress-wizard .steps .step.completed.current, .progress-wizard .steps .step.completed:hover {
    color: #21c17f;
}
.progress-wizard .steps .step.active, .progress-wizard .steps .step.completed {
    color: #042b3b;
    cursor: pointer;
}
.progress-wizard .steps .step {
    position: relative;
    display: inline-block;
    height: 100%;
    padding: 0 8px 0 0;
    color: #929ca1;
    font-size: 14px;
    line-height: 43px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.progress-wizard .steps {
    display: inline-block;
    height: 100%;
    margin: 0 auto;
    font-size: 0;
}
ul {
    list-style: none;
}

.progress-wizard .steps .step.active:before {
    background-color: #21c17f;
    color: #fff;
}
.progress-wizard .steps .step.active:before, .progress-wizard .steps .step.completed:before {
    border-color: #21c17f;
}
.progress-wizard .steps .step:before {
    content: attr(data-index);
    display: inline-block;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    border: 1px solid #929ca1;
    text-align: center;
    text-indent: -1px;
    line-height: 26px;
    margin-right: 8px;
}

.invisible{
	visibility:hidden;
}

div.inventory-add{
	height:24px;
}

.progress-wizard .steps .step:not(:last-child):after {
    content: ">";
    line-height: 26px;
    margin-left: 8px;
    font-size: 7px;
    vertical-align: middle;
}
div.inventory-group{
	clear:both;
}

div.inventory-group-header{
	padding:4px 8px;
	border-bottom:1px solid #ddd;
	background-color:#eee;
}

div.inventory-cnt{
	clear:both;
}
div.inventory-cnt-ctrl{
	float:left;
}
div.inventory-cnt-real{
	float:right;
	margin:4px;
}
div.inventory-name-title{
	font-size:1.2rem;
}
div.inventory-name-desc {
	font-size:0.8rem;
	color:#aaa;
}
div.clearfix {
	clear:both;
}
div.filter-item {
	cursor:pointer;
	padding:8px 16px;
}
div.filter-item:hover {
	background-color:#eee;
}
div.filter-item.selected{
	background-color:#eee;
}

div.filter-button{
	text-align: center;
    padding: 8px;
    margin-bottom: 8px;
}
.filter-all{
	margin-left:8px;
}
